@import 'bootstrap';

.panel-feed {
  @extend .panel-default;

  .panel-heading {
    border-bottom: none;
    background-color: transparent;

    ul.form-error {
      padding: 5px 10px 5px 10px;
      margin: 0;
    }
  }

  .panel-body {
    textarea {
      width: 100%;
      height: 5em;
      resize: none;
    }
  }
}

#feed-data {
  .thumb {
    width: 100%;
  }
}

.hazard {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20%;
  display: none;
  color: white;

  &.active {
    display: block;
  }

  .btn {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
